{% extends 'layouts/layout.html' %}

{% block title %}
    {{cabecera}}
{% endblock %}

{% block content %}
    <h1 class="title">{{titulo}}</h1>
        {% if mensaje|length < 6 %}
            <form action="" method="POST">

                {% csrf_token %}
    
                {{ form.as_p }}

                <input type="submit" value={{boton}} />
            </form>
        {% else %}
            </br>
            <p class="mensaje">{{mensaje}}</p>
            </br>
            <button class="regresar"><a href="{% url 'listado_reservas_restaurantes' %}"> Regresar </a></button>
        {% endif %}
{% endblock %}