{% extends 'layouts/layout.html' %}

{% block title %}
    {{cabecera}}
{% endblock %}

{% block content %}
   <h1 class="title">{{titulo}}</h1>

    <form method="POST">

        {% csrf_token %}

        <input type="text" placeholder="id de estadia o username" name="Buscar" value="{{ request.POST.Buscar }}" />
        <button type="submit">Buscar</button>
    
    <ul>  
        <article>      
           <table id="tabla">
                <thead class="encabezado">
                    <tr>
                        <td>{{campos.0}}</td>
                        <td>{{campos.1}}</td>
                        <td>{{campos.2}}</td>
                        <td>{{campos.3}}</td>
                        <td>{{campos.4}}</td>
                        <td>{{campos.5}}</td>
                        <td>{{campos.6}}</td>
                    </tr>
                </thead>
                {% for registro in tabla %}
                    <tbody>
                        <tr>
                            <td>{{registro.id_reserva}}</td>
                            <td>{{registro.fecha_reserva}}</td>
                            <td>{{registro.servicio.servicio}}</td>
                            <td>{{registro.user.username}}</td>
                            <td>{{registro.created_at}}</td>
                            <td>{{registro.user_update.username}}</td>
                            <td>{{registro.updated_at}}</td>
                        </tr>
                    </tbody>
                {% empty %}
                    <br/>
                    <p class="empty">{{ vacio }}</p>
                {% endfor %}
            </table> 
        </article>
    </ul>
      
{% endblock %}