{% extends 'layouts/layout.html' %}

{% block title %}
    {{cabecera}}
{% endblock %}

{% block content %}
    {% if mensaje|length < 6 %}
        <h1 class="title">{{titulo}}</h1>

        <form action="" method="POST">

            {% csrf_token %}
    
            {{ form.as_p }}

            <input type="submit" value="Guardar" />
        </form> 
    {% else %}
        </br>
        <p class="mensaje">{{mensaje}}</p>
        </br>
        <button class="regresar"><a href="{% url 'listado_estadias' %}"> Regresar </a></button>
    {% endif %} 
{% endblock %}