{% extends 'layouts/layout.html' %}
{% load mathfilters %}

{% block title %}
    {{cabecera}}
{% endblock %}

{% block content %}
   <h1 class="title">{{titulo}}</h1>

    <form method="POST">

        {% csrf_token %}

        <input type="text" placeholder="id de estadia , dni huesped o habitacion" name="Buscar" value="{{ request.POST.Buscar }}" />
        <button type="submit">Buscar</button>
    
    <ul>
        {% for estadia in estadias %}  
        <article class="estadias-items">      
            <br/>
            Estadia: {{estadia.id_estadia}}    				    
            <br/>
            Estado: {{estadia.estado.estado}} 
            <br/>
            Fecha inicio: {{estadia.fecha_inicio}} 
            <br/>
            Fecha fin: {{estadia.fecha_fin}}
            <br/>
            Cantidad de noches: {{estadia.cantidad_dias}}
            <br/>
            Habitacion: {{estadia.habitacion.nro_habitacion}}
            <br/>
            Tipo Habitacion: {{estadia.habitacion.tipo_habitacion.nombre}}
            <br/>
            Precio por noche: $ {{estadia.habitacion.tipo_habitacion.precio_por_noche}}
            <br/>
            Precio por estadia: $ {{estadia.habitacion.tipo_habitacion.precio_por_noche|mul:estadia.cantidad_dias}}
            <br/>
            <button id='eliminar' ><a href="{% url 'borrar_estadia' id=estadia.id_estadia %}">Eliminar</a></button>
            <button><a href="{% url 'editar_estadia' id=estadia.id_estadia %}">Modificar</a></button>
            <button class='check'><a href="{% url 'checkin-out_estadia' id=estadia.id_estadia accion="in" estado=estadia.estado.nro_estado %}">Check-in</a></button>
            <button class='check'><a href="{% url 'checkin-out_estadia' id=estadia.id_estadia accion="out" estado=estadia.estado.nro_estado %}">Check-out</a></button>
        </article>
        {% empty %}
            <br/>
            <p class="empty">{{ vacio }}</p>
        {% endfor %}
    </ul>
      
{% endblock %}