{% extends 'layouts/layout.html' %}

{% block title %}
    {{cabecera}}
{% endblock %}

{% block content %}
   <h1 class="title">{{titulo}}</h1>

    <form method="POST">

        {% csrf_token %}

        <input type="text" placeholder="Ingrese el nombre de usuario a buscar" name="Buscar" value="{{ request.POST.Buscar }}" />
        <button type="submit">Buscar</button>
    
    <ul>
        {% for usuario in usuarios %}  
        <article class="huespedes-items">
            </br>
            Id: {{usuario.id}}  
            <br/>
            Username: <a href="{% url 'modificar_usuario' id=usuario.id %}">{{usuario.username}}</a>    				        
            <br/>
            Nombre: {{usuario.first_name}} {{usuario.last_name}}
            <br/>
            Activo: {{usuario.is_active}}
            <br/>
            Administrador: {{usuario.is_staff}}
            <br/>
            <button id='eliminar'><a href="{% url 'borrar_usuario' id=usuario.id %}"> Eliminar </a></button>
            <button id='regresar'><a href="{% url 'listado_usuarios' %}"> Cancelar </a></button>
        </article>
        {% empty %}
            <br/>
            <p class="empty">{{ vacio }}</p>
        {% endfor %}
    </ul>
      
{% endblock %}