{% extends 'layouts/layout.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block content %}
    {% if perms.auth.usuario %}
        <h1>{{title}}</h1>

        {{register_form.errors}}
    
        <form method="post" action="">
            {% csrf_token %}

            {% for field in register_form %}
                <label>{{field.label}}</label>
                {{field}}
            {% endfor %}
            <input type="submit" value="Registrarse" />
        </form>
    {% else %}
        <a href="{% url 'inicio' %}">No tiene autorizacion para esta seccion, click para regresar al inicio</a>
    {% endif %}   
        
{% endblock %}
