<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title> 
        {% block title %}
        <!--Titulo de cada pagina-->
        {% endblock %}
    </title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div id="logotipo">
            <h1>Sistema de Gestión hotelera</h1>
        </div>
    </header>
    
    <nav>
        <ul>
            {% if user.is_active %}
                <li>
                    <a href="">Habitaciones</a>
                    <ul>
                        <li>
                            <a href="{% url 'listado_habitaciones' %}">Listado de habitaciones</a>
                        </li>
                    </ul>
                </li>
                {% if user.username != 'gerencia' %}
                    <li>
                        <a href="">Huespedes</a>
                        <ul>
                            <li>
                                <a href="{% url 'listado_huespedes' %}">Listado de huespedes</a>
                            </li>
                            <li>
                                <a href="{% url 'alta_huesped' %}">Nuevo huesped</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="">Estadias</a>
                    <ul>
                        <li>
                            <a href="{% url 'listado_estadias' %}">Listado de estadias</a>
                        </li>
                        <li>
                            <a href="{% url 'alta_estadia_inicio' %}">Nueva estadia</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Servicios</a>
                    <ul>
                        <li>
                            <a href="{% url 'listado_reservas_servicios' %}">Listado de Reservas</a>
                        </li>
                        <li>
                            <a href="{% url 'alta_reserva_servicio_inicio' %}">Nueva reserva</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Restaurantes</a>
                    <ul>
                        <li>
                            <a href="{% url 'listado_reservas_restaurantes' %}">Listado de Reservas</a>
                        </li>
                        <li>
                            <a href="{% url 'alta_reserva_restaurante_inicio' %}">Nueva Reserva</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Auditorias</a>
                    <ul>
                        <li>
                            <a href="{% url 'auditoria_estadias' %}">Estadias</a>
                        </li>
                        <li>
                            <a href="{% url 'auditoria_servicios' %}">Servicios</a>
                        </li>
                        <li>
                            <a href="{% url 'auditoria_accesos' %}">Logueos</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Sesion</a>
                    <ul>
                        {% if user.is_superuser %}
                            <li>
                                <a href="">Usuarios</a>
                                <ul>
                                    <li>
                                        <a href="{% url 'register' %}">Registro de usuarios</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'listado_usuarios' %}">Listado de usuarios</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Grupos</a>
                                <ul>
                                    <li>
                                        <a href="{% url 'listado_grupos' %}">Listado de grupos</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'alta_grupo' %}">Agregar Grupo</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'logout' %}">Cerrar sesion</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">                                       <!--Bloque que sirve para dividir-->
        <div class="box">
            {% block content %}                              <!--Debe colocarse el mismo nombre que se coloco al id-->
                <!--Codigo que viene desde la template-->   
            {% endblock %}
        </div>
    </div>

    <footer>
        Sistema de Gestión hotelera, plazas y servicios - {% now 'd/m/Y  H:i:s' %}            <!--La H genera que la hora se muestre en formato de 24hs-->
    </footer>
</body>
</html>