<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title> 
        {% block title %}
        <!--Titulo de cada pagina-->
        {% endblock %}
    </title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"
</head>

<body>

    <header>
        <div id="logotipo">
            <!--Logo django-->
            <img src="{% static 'images/logo.png' %}">
            <h1>Proyecto con Django</h1>
        </div>
    </header>
    
    <nav>
        <ul>
            <li>
                <a href="{% url 'inicio' %}">Inicio</a>
            </li>
            {% if user.email %}
                {% for page in pages %}
                        <li>
                            <a href="{% url 'page' page.2 %}"> {{ page.1 }}</a>
                        </li>
                {% endfor %}
                <li>
                    <a href="{% url 'list_articles' %}">Articulos</a>
                    <ul>
                        {% for category in categories %}
                            <li>
                                <a href="{% url 'category' category.0 %}"> {{ category.1 }}</a>
                            </li>
                        {% endfor %}  
                    </ul>
                    <li>
                        <a href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">Registro</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">                                       <!--Bloque que sirve para dividir-->
        <div class="box">
            {% block content %}                                  <!--Debe colocarse el mismo nombre que se coloco al id-->
                <!--Codigo que viene desde la template-->   
            {% endblock %}
        </div>
    </div>

    <footer>
        Sistema de Gestión hotelera, plazas y servicios - {% now 'd/m/Y H:m:s' %}            <!--La H genera que la hora se muestre en formato de 24hs-->
    </footer>

</body>
</html>