{% extends 'layouts/layout.html' %}

{% block title %}
    {{cabecera}}
{% endblock %}

{% block content %}
   <h1 class="title">{{titulo}}</h1>

    <form method="POST">

        {% csrf_token %}

        <input type="text" placeholder="Ingrese dni,nombre o apellido" name="Buscar" value="{{ request.POST.Buscar }}" />
        <button type="submit">Buscar</button>
    
    <ul>
        {% for huesped in huespedes %}  
        <article class="huespedes-items">      
            <br/>
            Dni: {{huesped.dni}}    				    
            <br/>
            Nombre: {{huesped.nombre}} {{huesped.apellido}}
            <br/>
            Email: {{huesped.mail}}
            <br/>
            Telefono: {{huesped.telefono}}
            <br/>
            <a href="{% url 'borrar_huesped' id=huesped.dni %}"> Eliminar </a>
            <a href="{% url 'editar_huesped' id=huesped.dni %}"> Modificar </a>
        </article>
        {% empty %}
            <br/>
            <p class="empty">{{ vacio }}</p>
        {% endfor %}
    </ul>
      
{% endblock %}